.recipe {
    background-color: var(--light-color);
}

.recipe ul {
    list-style-type: none;
    padding: 0;
}

.recipe li {
    font-size: var(--heading-font-size-s);
    padding: 32px 8px;
    border-bottom: 2px dashed var(--link-color);
    margin-left: -16px;
    margin-right: -16px;
    position: relative;
    text-indent: -16px;
}

.recipe li strong {
    font-size: var(--heading-font-size-m);
}

.recipe li input[type="checkbox"] {
    height: 1.2em;
    width: 1.2em;
    margin-right: 8px;
    margin-left: 16px;
    accent-color: var(--link-hover-color);
    vertical-align: bottom;
    margin-bottom: 0.4em;
}

.recipe li.done {
    text-decoration: line-through;
    color: var(--light-color);
    background-color: var(--link-color);
}

.recipe li.done input[type="checkbox"] {
    color: var(--link-color);
    border: 1px solid white;
}

.recipe .recipe-badge {
    position: absolute;
    bottom: 2px;
    right: 8px;
    font-size: var(--body-font-size-s);
}

.recipe select {
    margin-left: 16px;
    font-size: var(--body-font-size-m);
}

.recipe-note-icon {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 20px;
    height: 22px;
    border: 2px solid;
    border-radius: 3px;
    margin-right: 8px;
  }

.recipe-note-icon::after,
.recipe-note-icon::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    height: 2px;
    background: currentcolor;
    left: 2px;
  }

.recipe-note-icon::before {
    box-shadow:
      0 4px 0,
      0 8px 0;
    width: 12px;
    top: 2px;
  }
  
.recipe-note-icon::after {
    width: 6px;
    top: 14px;
  }

.recipe-note {
    display: flex;
    color: #888;
    margin: 16px -16px 0;
    padding: 16px;
    border-radius: 8px;
    position: relative;
}

.recipe-note.recipe-note-highlight {
    background-color: var(--mustard);
    color: unset;
}


.recipe-note textarea {
    width: 100%;
    background-color: transparent;
    border: 0;
}