footer {
  background-color: var(--dark-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 800px;
  padding: 40px 24px 24px;
  gap: 32px;
  color: var(--background-color);
}

footer .footer .icon-delightfully-sinful img {
  max-width: 200px;
}

footer .footer p {
  margin: 0;
}


@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }

  footer .footer > div {
    display: flex;
    justify-content: space-between;
  }

}
